/* FONT IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/* END OF FONT IMPORT */

/* CSS RESET */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: var(--font-family-default);
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* END OF CSS RESET */

/* CSS VARIABLES */
:root {
    /* Colors */
    --clr-primary: #156963;
    --clr-primary-grey: #f3f4f6;
    --clr-primary-black: #28282b;
    --clr-primary-white: #ffffff;
    --clr-secondary-grey: #aaa9a9;
    /* Font */
    --font-family-default: "Roboto", sans-serif;
    --fw-normal: 400;
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}
/* END OF CSS VARIABLES */

/* HEADER STYLE */
/* .header__navigation */
#header__nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: absolute;
}

#logo {
    width: calc(var(--fs-700) + 5px);
    height: calc(var(--fs-700) + 5px);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--fs-700);
    font-weight: var(--fw-black);
    color: var(--clr-primary-white);

    border: 1px solid var(--clr-primary);
    border-radius: 5px;
    background-color: var(--clr-primary);

    cursor: pointer;
}

.header__nav__menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__nav__menu__links__link {
    text-decoration: none;
    padding: 5px 25px;
}

.header__nav__menu__links__link.link__button {
    border-radius: 2px;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.link__button--signUp {
    color: var(--clr-primary);
}

.link__button--signIn {
    background-color: var(--clr-primary);
    color: var(--clr-primary-white);
    transition: 0.4s;
}

#header__nav img {
    width: 25px;
}
/* End of .header__navigation */

/* Left hero section*/
#header__hero {
    display: flex;
    height: 1000px;
}

#header__hero__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
/* end of left hero section */

/* right hero section */
.header__hero__rightSection {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Right hero section text */
.header__hero__rightSection__topSection {
    padding: 200px 100px 0 100px;
}

.hero__title {
    font-size: var(--fs-900);
    font-weight: var(--fw-black);
    color: var(--clr-primary);
}

.hero__tagline {
    margin-top: 20px;
    margin-left: 15px;

    letter-spacing: 2px;
    font-size: var(--fs-500);
    color: var(--clr-primary-black);
}

#header__hero__img--plantName {
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    color: var(--clr-primary);
}
/* End of hero section text */

.header__hero__rightSection__bottomSection {
    height: 50%;

    display: flex;
    align-items: flex-end;
}
/* Buttons styles */
.header__hero__img--plantButtonSelection {
    width: 50%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__hero__img--plantButtonSelection img {
    width: 100px;
}

.plantButtonSelection__textAndArrow {
    display: flex;
    align-items: center;
    font-size: var(--fs-600);
    font-weight: var(--fw-regular);
    letter-spacing: 2px;
    color: var(--clr-secondary-grey);
}

.plantButtonSelection__plantName {
    margin-left: 30px;
    font-size: var(--fs-800);
    font-weight: var(--fw-regular);
}

.plantButtonSelection--previousPlant {
    color: var(--clr-primary);
}

.plantButtonSelection--nextPlant {
    background-color: var(--clr-primary);
    color: var(--clr-primary-white);
}
/* End of Buttons styles */
/* End of right button section */
/* END OF HEADER */
